<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:c="http://www.springframework.org/schema/c"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 
	 
<!--   <bean id="bike" class="com.nt.beans.Bike" c:id="01" c:name="Srikanth" /> -->
<!--   <bean id="eng" class="com.nt.beans.Engine" autowire="constructor"/> -->

<!--   <bean id="bike" class="com.nt.beans.Bike" p:id="101" p:name="Sripatel" /> -->
<!--   <bean id="eng" class="com.nt.beans.Engine" autowire="byName"/> -->

  <bean id="bike2" class="com.nt.beans.Bike" p:id="102" p:name="patel" />
  <bean id="eng" class="com.nt.beans.Engine" autowire="byType"/>

<!--   <bean id="bike1" class="com.nt.beans.Bike" p:id="101" p:name="Sripatel" /> -->
<!--   <bean id="bike2" class="com.nt.beans.Bike" p:id="102" p:name="patel" /> -->
<!--   <bean id="eng" class="com.nt.beans.Engine" autowire="byType"/> -->
  
</beans>  